@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
main {
  width: 100%;
  padding: 30px;
}

.new {
  position: sticky;
  bottom: 20px;
  z-index: 100;
}

form {
  display: flex;
  flex-direction: column;
}

.card input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
