@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.mainContainer {
  margin: 20px auto;
  width: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
main {
  padding: 30px;
}

.new {
  position: sticky;
  bottom: 20px;
  z-index: 100;
}

form {
  display: flex;
  flex-direction: column;
}

.card input[type="checkbox"] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
